{% extends "base.html" %}

{% block navbar-item %}
<a class="nav-link" href="{% url 'payment:order-details' %}">Your Orders</a>
{% endblock %}
{% block logout %}
<a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
{% endblock %}

{% block page_content %}
<p> Payment of INR {{ product.price }} is being processed for product: {{ product.name }}
    with transaction ID: {{ payment.token }}
    <br>
    <a href="{% url 'payment:final' payment_pk=payment.id product_pk=product.id %}" class="btn btn-success">Click Here</a> to Confirm.
</p>
{% endblock %}

