{% extends "base.html" %}

{% block navbar-item %}
<a class="nav-link" href="{% url 'payment:order-details' %}">Your Orders</a>
{% endblock %}
{% block logout %}
<a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
{% endblock %}
{% block page_content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
            </div>
        </div>
    </div> 
    <h2>These are the product ordered and paid by {{ user.username }}</h2>
    <div id="products" class="row view-group">
        {% for product in products %}
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="https://picsum.photos/400/250" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        {{ product.name }}</h4>
                    <p class="group inner list-group-item-text">
                       {{ product.description }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Rs. {{ product.price }}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <!-- <a class="btn btn-success" href="{% url 'user:signup' product_pk=product.id %}">Buy Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <a href="{% url 'user:logout' %}" class="btn-success">Logout</a>
</div>
{% endblock %}